@media (min-width: 30em) and (max-width: 50em) {
  /* … */
    
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.tiledbackground{
    background-image: url("https://i.postimg.cc/XNKRmsns/unicorncolor.jpg");
    background-size: 580px;
    width: 1890px;
    height: 2000px;
    border: 1px solid;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: left;
  line-height: 45px;
  font-size: 25px;
}
h2 {
    text-align: left;
    font-size: 25px;
    color: black;
}
